@import "../src/pages/auth/auth.css";
@import "../src/components/Navbar/style.css";
@import "../src/components/upload.css";
@import "../src/pages/home/post.css";
@import "../src/pages/home/comment.css";

.input {
    display: block;
    margin: 3px;
    padding: 1px;
}

button {
    cursor: pointer;
    display: flex;
    margin: 3px;
    padding: 1px;
}

button:hover {
    background-color: rgb(183, 255, 231);
}

a {
    text-decoration: none;
    color: blue;
}

#org {
    color: darkolivegreen;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    display: flex;
    margin-left: 40%;
    margin-top: 2%;
}


li {
    list-style: none;
}